<div class="row">
  <% resource_type.each do |resource| %>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <% resource.each do |key, value| %>
        <% if key == 'name' || key == 'title' %>
          <!-- Button trigger modal -->
          <h5 class="<%= key %>" data-toggle="modal" data-target="#<%= value.gsub(/\W/,'-') %>ModalScrollable"><%= value %></h5>
          <!-- Modal -->
          <div class="modal fade" id="<%= value.gsub(/\W/,'-') %>ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="<%= value.gsub(/\W/,'-') %>ModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= value.gsub(/\W/,'-') %>ModalScrollableTitle"><%= value.upcase %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div id="<%= value.gsub(/\W/,'-') %>" class="details">
        <% else %>
                    <p class="<%= key %>"><%= key.gsub('_', ' ').capitalize %>: <%= value %></p>
        <% end %>
      <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  <% end %>
  <% unless @more.nil? %>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <h5 class="more">more</h5>
    </div>
  <% end %>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Launch demo modal
</button> -->










